# Project exclude paths
/target/
/blitz_rating_list.db
/blitz_rating_list.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/artifacts/linked.xml
/.idea/artifacts/lolmanager.xml
/.idea/artifacts/lolmanager_jar.xml
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/.idea/misc.xml
/pom.xml.versionsBackup
/rapid_rating_list.db
/rapid_rating_list.xml
/rejestr_czlonkow.csv
/rejestr_czlonkow.db
/.idea/vcs.xml
/standard_rating_list.db
/standard_rating_list.xml
/.idea/uiDesigner.xml
/.idea/artifacts/lolmanager_jar2.xml
/pairing.txt
/report.txt
/dependency-reduced-pom.xml
/nbactions.xml
/nb-configuration.xml
/blitz_rating_list_xml.zip
/standard_rating_list_xml.zip
/print.pdf
/auth.txt
/rapid_rating_list_xml.zip
/tiebreak.json
